* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.mobile {
  display: none;
}
.desktop {
  display: block;
}
/* Header Section */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18.75rem;
}
.navbar {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
}
li {
  padding: 0;
  margin: 10px;
  color: #9893a3;
}
.container {
  width: 1300px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.img-logo {
  display: inline-block;
  align-items: flex-start;
}
.buttons {
  display: flex;
  gap: 10px;
}
.log-in-button {
  border: 1px solid #6c63ff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  width: 100px;
  height: 50px;
  background-color: white;
  color: #6c63ff;
  letter-spacing: 1px;
}
.log-in-button:hover {
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
}
.get-started-button {
  background-color: white;
  border: 1px solid #6c63ff;
  color: #6c63ff;
  width: 150px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px;
}
.get-started-button:hover {
  background-color: #6c63ff;
  color: white;
  cursor: pointer;
}
.navbar li:hover {
  color: #2f2e41;
  font-weight: bold;
  cursor: pointer;
}
.navbar li:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #9e99ff;
  bottom: -10px;
  left: 0;
}
.navbar li {
  position: relative;
}

/* Hero Section */

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.hero-text {
  width: 490px;
}
.hero-container-h1 {
  font-family: "Playfair Display";
  margin-top: 150px;
  font-size: 86px;
  line-height: 1;
}
.hero-container-p {
  margin-top: 30px;
  font-size: 20px;
  color: #9893a3;
}
.secondary-button {
  margin-top: 30px;
}
.hero-image {
  width: 600px;
  height: 559px;
  margin-left: 50px;
}

/* Main Section */

.main-container-section {
  display: flex;
  align-items: center;
}

.main-container-text {
  margin-left: 50px;
  margin-top: 60px;
}
.main-container-link {
  margin-top: 30px;
  font-size: 18px;
}
.main-container-a {
  color: #2f2e41;
  position: relative;
  text-decoration: none;
}
.main-container-a:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #9e99ff;
  bottom: -2px;
  left: 0;
}
.main-image {
  margin-top: 150px;
  width: 688px;
  height: 440px;
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47px;
}

.partner-logo {
  list-style: none;
  display: flex;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 45px;
}

/* Pricing Section */

.pricing-h2 {
  font-family: "Playfair Display";
  font-weight: 700;
  font-size: 60px;
  line-height: 64px;
  display: flex;
  justify-content: center;
}
.pricing-btn {
  width: 150px;
  margin-top: 30px;
}
.pricing {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-btn:hover {
  background-color: white;
  color: #6c63ff;
}

.pricing-card {
  font-family: "Open Sans";
  justify-content: center;
  background-color: #ecebff99;
  width: 360px;
  height: 420px;
  text-align: center;
}

.pricing-card:hover {
  background-color: #6c63ff;
  color: #ffffffcc;
  height: 500px;
  transition: 0.5s;
}
.pricing-card:hover p {
  color: white;
}
.pricing-card:hover li {
  color: white;
}
.pricing-card-list {
  list-style: none;
  margin-top: 30px;
}
.pricing-card-p {
  margin-top: 46px;
  color: #9893a3;
  font-family: "Open Sans";
}
.pricing-h2 {
  font-family: "Playfair Display";
  margin: 30px;
  font-size: 50px;
}
.container_ {
  display: flex;
  justify-content: center;
  gap: 45px;
  height: 500px;
  margin-top: 100px;
}

/* Contact Banner Section */
.banner {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}
.contact-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  width: 900px;
  height: 296px;
  background-color: #2f2e41;
  color: white;
}
.contact-banner-btn {
  width: 186px;
  height: 54px;
  background-color: #6c63ff;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  color: white;
  border-radius: 3px;
  border: 1px solid #6c63ff;
}
.contact-banner-btn:hover {
  border: 1px solid #6c63ff;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  background-color: white;
  color: #6c63ff;
}

.contact-banner h1 {
  font-size: 50px;
}

/* Footer Section */
footer {
  font-family: "Open Sans";
  margin-top: 91px;
  background-color: #ecebff99;
  height: 580px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  gap: 60px;
}
.footer-div h5 {
  margin-left: 10px;
  font-size: 18px;
}
.footer-list {
  list-style: none;
}

.footer-list-contact {
  display: flex;
  list-style: none;
}

.footer-div {
  margin-top: 240px;
}
.contact {
  width: 32px;
  height: 32px;
  background-color: white;
}
.get-in-touch {
  display: flex;
}
.footer-right {
  background-color: #ecebff99;
  padding-left: 80px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
}
.right {
  font-family: "Open Sans";
  padding-right: 80px;
  color: #9893a3;
}

/* Media section ********************** */

@media only screen and (max-width: 1100px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .container {
    width: 90%;
  }
  .row {
    display: flex;
  }

  /* Hero Container */

  .hero-container-h1 {
    font-family: "Playfair Display";
    margin-top: 20px;
    font-size: 43px;
    line-height: 1;
  }
  .header {
    justify-content: space-between;
  }
  .hero-text {
    width: 700px;
  }
  .image-hero {
    width: 688px;
    margin-top: 30px;
  }

  /* Main Section */
  .main-container-a:hover::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 12%;
    background-color: #9e99ff;
    bottom: -2px;
    left: 0;
  }
  .main-logo {
    margin-top: 130px;
    width: 688px;
  }
  .logo {
    margin: 0 30px;
  }
  .main-image {
    justify-content: center;
    margin-top: 100px;
  }
  .main-image-1 {
    width: 90%;
  }
  .main-image-2 {
    margin-top: 10px;
    width: 90%;
  }
  .main-container-text {
    margin-left: 0;
  }
  .main-container-text-2 {
    margin-top: 150px;
  }
  .main-div {
    flex-direction: column-reverse;
  }

  /* Pricing Section */

  .pricing-card {
    width: 100%;
    height: 600px;
  }
  .pricing-card:hover {
    background-color: #6c63ff;
    color: #ffffffcc;
    height: 600px;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
  }
  .pricing-card-p {
    margin-top: 120px;
  }
  .pricing-container {
    margin-top: 200px;
  }

  /* Banner Section */
  .banner {
    width: 90%;
    margin-top: 60px;
  }
  .contact-banner {
    margin-top: 50px;
    margin-bottom: 0;
    gap: 30px;
  }
  .contact-banner-btn {
    margin-left: 10px;
  }
  /* Blog Section */
  .blog {
    margin-top: 1520px;
  }
  .blog-title {
    justify-content: space-between;
    margin-top: 10px;
  }

  .blog-h1 {
    color: #2f2e41;
    font-family: "Open Sans", sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1px;
  }
  .blog-content {
    display: flex;
    flex-direction: column;
    gap: 45px;
    margin-top: 80px;
  }
  .blog-photo {
    width: 300px;
  }
  .blog-content-1 {
    display: flex;
  }
  .blog-text p {
    font-family: "Open Sans", sans-serif;
    color: #9893a3;
    font-size: 16px;
    margin-left: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
  }
  .blog-text h1 {
    font-family: "Open Sans", sans-serif;
    color: #2f2e41;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 20px;
    margin-left: 20px;
  }
  .blog-text a {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: 40px;
    color: #2f2e41;
  }
  .blog-link {
    margin-top: 20px;
  }

  /* Footer Section */

  .footer {
    gap: 50px;
  }
}
